.cal {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 1px;
  }
  
  .display {
    margin: 10px;
    padding: 5px;
    background-color: #eee;
  }
  
  input[type="text"] {
    width: 80vh;
    padding: 10px;
    font-size: 24px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 6px;
  }
  
  .button {
    width: 70vh;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .number {
    background-color: #f0f0f0;
    color: #030303;
  }
  
  .operator {
    background-color: #c24cf1;
    color: #211824;
  }
  
  .clear {
    background-color: #8c7aee;
    color: #170d33;
  }
  
  .equal {
    background-color: #f043d9;
    color: #0b5055;
  }

  section{
    width: 50vh;
    height: 450vh;
    padding: 15px, 10px;
    background-color: #cdfcfd;
    border: 1px solid #170d33;
  }


  