
body{
    margin-top: 16%;
    margin-bottom:30% ;
}
.cal {
    width: 90vh;
    height: 70vh;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 1px, 1px, 4px #fc9595;
    font-size: 45px;
    align-self: center;
  }
  
  .display {
    margin: 10px;
    padding: 5px;
    background-color: #eee;
  }
  
  input[type="text"] {
    width: 45vh;
    padding: 8px;
    font-size: 30px;
    align-self: center;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 6px;
    height: 40%;
    width: 55%;
  }
  
  .button {
    width: 60vh;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .number {
    background-color: #f0f0f0;
    color: #030303;
  }
  
  .operator {
    background-color: #c24cf1;
    color: #211824;
  }
  
  .clear {
    background-color: #8c7aee;
    color: #170d33;
  }
  
  .equal {
    background-color: #f043d9;
    color: #0b5055;
  }

  section{
    width: 60vh;
    height: 45vh;
    padding: 22px;
    background-color: #cdfcfd;
    border: 1px solid #170d33;
    align-self: center;
    align-content: center;
    transition: -50% -50%;
  }

    


  