
        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
        }
        .container {
            max-width: 350px;
            margin: 10vh auto 0 auto;
            border: 1px solid #271122;
            border-radius: 5px;
            box-shadow: 1px 1px 27px 12px rgba(38, 86, 243, 0.2);
            padding: 25px;
            text-align: center;
        }
        #display {
            font-size: 22px;
            margin-bottom: 8px;
            text-align: center;
            line-height: 50px;
            padding: 10px 6px;
            border: 1px solid #fff;
        }
        .button-grid {
            display: grid;
            grid-template-columns: repeat(1fr 1fr 1fr 1fr);
            grid-gap: 4px;
            border-left:2px 2px 2px 2px solid #db31bf ;
            
        }
        .button {
            font-size: 22px;
            padding: 8px;
            border: 1px solid #a11111;
            border-radius: 4px;
            cursor: pointer;
        }
        #equal{
            background-color: aquamarine;
            color: #8dbaf5;
        }

        .button:hover{
            background-color: #ccc;
            color: #8dbaf5;
            transition: 0.4s ease-in-out;
        }
    
        